$height: 1080px;
$width: 1920px;

#App {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Radikal";
    font-weight: normal;
    height: $height;
    width: $width;
    color: #fff;
    position: relative;
    background-color: $light;
    font-size: 26px;
}

.wrapper {
    background: $light;

    //    transform-origin: 50% 50%;
}

.text-primary {
    color: $primary;
}

.btn--round {
    height: 88px;
    width: 88px;
    border-radius: 100%;
}

.btn--primary {
    background-color: $primary;
}

.page {
    position: relative;
    background-color: $dark;
    height: $height;
    width: $width;
    overflow: hidden;
}

.pageContent {
    height: $height;
    width: $width;
    position: absolute;
    top: 0;
    left: 0;
}

.introRing {
    position: absolute;
    border: 100px #51508e solid;
    pointer-events: none;
    top: 0;
    bottom: 0;
    transform-origin: center;
    left: 0;
    right: 0;
    margin: auto;
    height: 0;
    width: 0;
    z-index: 10;

    border-radius: 100%;
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.clubSelect {
    padding: 6em 8.5em;
    width: $width;
    height: $height;

    &__info {
        width: 519px;
        position: absolute;
    }

    &__title {
        padding-top: 280px;
    }

    &__club {
        position: absolute;

        &:nth-of-type(2) {
            right: 565px;
        }

        &:nth-of-type(3) {
            right: 175px;
        }

        &:nth-of-type(4) {
            top: 550px;
            right: 963px;
        }

        &:nth-of-type(5) {
            top: 550px;
            right: 565px;
        }

        &:nth-of-type(6) {
            top: 550px;
            right: 175px;
        }

        .thumb {
            height: 345px;
            widows: 345px;
        }

        .btn--primary {
            position: absolute;
            right: 25px;
            bottom: 0;
        }

        h2 {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 145px;
            left: 66px;
            padding-top: 100px;
        }
    }

    .back.btn--primary {
        transform: rotate(180deg);
    }
}
