@font-face {
    font-family: 'Radikal';
    src: url("~@/assets/fonts/Radikal-Regular.woff2") format('woff2'),
     url("~@/assets/fonts/Radikal-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url("~@/assets/fonts/Radikal-Bold.woff2") format('woff2'),
        url("~@/assets/fonts/Radikal-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Radikal';
    src: url("~@/assets/fonts/Radikal-Light.woff2") format('woff2'),
        url("~@/assets/fonts/Radikal-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

